body {
	font-family: Arial;
	color: white;
	background: url('images/ugly_background.jpg');
	background-repeat: no-repeat;
	background-color: black;
	background-size: cover;
}

h1 {
	font-size: 75px;
	text-align: center;
}

img {
	width: 50%;
	margin: 25px auto;
	display: block;
	border: 3px solid #333;
}

.information {
	font-size: 35px;
	text-align: center;
}

.github-link {
	text-align: center;
	font-size: 25px;
}

.github-link a {
	color: white;
}

.description {
	font-size: 25px;
	text-align: center;
	width: 50%;
	display: block;
	margin: 25px auto;
}
